
<!DOCTYPE HTML>
<html>

<head>
  <meta charset="utf-8">
  <title>index.html</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/static/css.css">

</head>

<body>
<div class="jumbotron"><a href="/"><h1><a href="/">Glacier National Park: Endangered?</a></h1></div>
<
<div class='container'>

<a class="btn btn-primary" href="/mammals">Mammals</a>
<a class="btn btn-primary" href="/plants">Plants</a>
<a class="btn btn-primary" href="/birds">Birds</a>
<a class="btn btn-primary" href="/amphibians">Amphibians</a>
<a class="btn btn-primary" href="/reptiles">Reptile</a>
<a class="btn btn-primary" href="/plants">Vascular Plants</a>

<ul>
<!-- {% for animal in list %}
  {{ animal.commonname }} 
  
  

{% endfor %} -->
</ul>

<!-- <a class="button" href="/mammals">Mammals</a> -->
<!-- <button>mammals</button> -->

</div>

</body>

</html>
